.Button .Cancel {
    background: 1px solid rgb(233, 182, 14);
    margin-right: 10px;
}
.Button .Continue {
    background: rgb(83, 193, 92);
}
.Button button {
    border: 1px solid #fff;
    padding: 10px 17px;
    border-radius: 4px;
}
.Button button:hover {
    opacity: 0.9;
    cursor: pointer;
}